<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add User Form</title>
<link type="text/css" rel="stylesheet" href="/css/header-basic.css">
<link type="text/css" rel="stylesheet" href="/css/footer-basic.css">
<link type="text/css" rel="stylesheet" href="/css/admin/admin.css">
<meta charset="utf-8">
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
</head>
<body>
	<div th:replace="/fragments/header::main-menu">Main Menu</div>

	<div id="main">
		<a th:href="@{/subjects/goToIndex}" id="index">Go to Index page</a>
		<form th:object="${new_subject}" th:action="@{/subjects/addSubject}"
			method="POST" id="addSubjectForm">
			<h1>
				Add Subject<span id="clear">Clear Form</span>
			</h1>

			<div>
				<label for="firstName">First Name:</label>
				<div class="field">
					<input type="text" id="subjectTitle" placeholder="Subject title"
						th:field="*{title}" required autofocus>
				</div>
				<span id="subjectTitleErr"></span>
			</div>
			<div>
				<button type="submit">Save</button>
			</div>
		</form>
	</div>

	<div th:replace="/fragments/footer::footer"></div>
	<script type="text/javascript" th:src="@{/js/admin/addSubjectForm.js}"></script>
</body>
</html>