<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add User Form</title>
<link type="text/css" rel="stylesheet" href="/css/header-basic.css">
<link type="text/css" rel="stylesheet" href="/css/footer-basic.css">
<link type="text/css" rel="stylesheet" href="/css/admin/admin.css">
<meta charset="utf-8">
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
</head>
<body>
	<div th:replace="/fragments/header::main-menu">Main Menu</div>

	<div id="main">
		<a th:href="@{/users/goToIndex(currentUsername=${user.username})}" id="index">Go to Index page</a>
			<form th:object="${new_user}"
				th:action="@{/users/addUser}" method="POST">
				<h1>Add User<span id="clear">Clear Form</span></h1>
				<div >
					<label for="userCategory">User
						Category:</label>
					<div class="field">
						<select id="userCategory"
							th:field="*{userCategory.id}">
							<option th:value="${1}">Admin</option>
							<option th:value="${2}">Teacher</option>
							<option th:value="${3}">Student</option>
						</select>
					</div>
				</div>
				<div>
					<label for="firstName">First
						Name:</label>
					<div class="field">
						<input type="text" id="firstName"
							placeholder="First Name" th:field="*{firstName}" required>
					</div>
				</div>
				<div>
					<label for="lastName">Last
						Name:</label>
					<div class="field">
						<input type="text" id="lastName"
							placeholder="Last Name" th:field="*{lastName}" required>
					</div>
				</div>
				<div>
					<label for="username">Username:</label>
					<div class="field">
						<input type="text" id="username"
							placeholder="Username" th:field="*{username}" required>
					</div>
					<span id="usernameErr"></span>
				</div>
				<div>
					<label for="email">Email:</label>
					<div class="field">
						<input type="email" id="email"
							placeholder="Email" th:field="*{email}" required>
					</div>
					<span id="emailErr"></span>
				</div>
				<div>
					<label for="password">Password:</label>
					<div class="field">
						<input type="password" id="password"
							placeholder="Password" th:field="*{password}" required>
					</div>
				</div>
				<div>
					<button type="submit">Save</button>					
				</div>
			</form>
		</div>
	

	<div th:replace="/fragments/footer::footer"></div>
	<script type="text/javascript" th:src="@{/js/admin/addUserForm.js}"></script>
</body>
</html>