<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Home Page</title>
<link type="text/css" rel="stylesheet" href="/css/header-basic.css">
<link type="text/css" rel="stylesheet" href="/css/footer-basic.css">
<link type="text/css" rel="stylesheet" href="/css/admin/admin.css">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
	rel="stylesheet">
</head>
<body>
	<div th:replace="/fragments/header::main-menu">Main Menu</div>

	<div id="main">
		<table>
			<tr>
				<td th:text="Users"></td>
				<td><a th:href="@{/users/addUserForm(currentUsername=${user.username})}">Add</a></td>
				<td><a th:href="@{/users/deleteUserForm(currentUsername=${user.username})}">Delete</a></td>
				<td><a th:href="@{/users/updateUserForm(currentUsername=${user.username})}">Update</a></td>
			</tr>
			<tr>
				<td th:text="Subjects"></td>
				<td><a th:href="@{/subjects/addSubjectForm(currentUsername=${user.username})}">Add</a></td>
				<td><a th:href="@{/subjects/deleteSubjectForm(currentUsername=${user.username})}">Delete</a></td>
				<td><a th:href="@{/subjects/updateSubjectForm(currentUsername=${user.username})}">Update</a></td>
			</tr>
			<tr>
				<td th:text="Teachers"></td>
				<td><a th:href="@{/admin/teachers/assignTeacherToSubjectForm(currentUsername=${user.username})}">Assign <br>to subject</a></td>
				<td><a th:href="@{/admin/teachers/removeTeacherFromSubjectForm(currentUsername=${user.username})}">Remove <br>from subject</a></td>
			</tr>
			<tr>
				<td th:text="Students" rowspan="2"></td>
				<td><a th:href="@{/admin/students/assignStudentToSubjectForm(currentUsername=${user.username})}">Assign <br>to subject</a></td>
				<td><a th:href="@{/admin/students/removeStudentFromSubjectForm(currentUsername=${user.username})}">Remove <br>from subject</a></td>
			</tr>
			<tr>
				<td id="problem1"><a th:href="@{/admin/students/assignStudentToTeacherForm(currentUsername=${user.username})}">Assign <br>to teacher</a></td>
				<td id="problem2"><a th:href="@{/admin/students/removeStudentFromTeacherForm(currentUsername=${user.username})}">Remove <br>from teacher</a></td>
			</tr>
		</table>
	</div>

	<div th:replace="/fragments/footer::footer"></div>	
	
</body>
</html>