<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Delete User Form</title>
<link type="text/css" rel="stylesheet" href="/css/header-basic.css">
<link type="text/css" rel="stylesheet" href="/css/footer-basic.css">
<link type="text/css" rel="stylesheet" href="/css/admin/deleteUserForm.css">
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
</head>
<body>
	<div th:replace="/fragments/header::main-menu">Main Menu</div>
	
	<div id="main">
		<a th:href="@{/subjects/goToIndex}">Go to Index page</a>
		<div id="controlsDiv">
			<input type="text" id="searchText">
		</div>
		<table id="deleteSubjectTable">
		    <thead>
		        <tr>
		            <th> Subject title </th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="s : ${subjects}">
		            <td><span th:text="${s.title}"></span></td>
		        </tr>
		    </tbody>
		</table>
				
		<form th:object="${new_subject}"
			th:action="@{/subjects/deleteSubject}" method="POST" id="deleteSubjectForm">
			<h1>Delete Subject<span id="clear">Clear Form</span></h1>
			<div>
				<label for="subjectTitle">Subject Title:</label>
				<div class="field">
					<input type="text" id="subjectTitle"
						placeholder="Subject title" th:field="*{title}" required autofocus>
				</div>
			</div>			
			<div>
				<button type="submit">Delete</button>					
			</div>
		</form>
	</div>
	
	<div th:replace="/fragments/footer::footer"></div>
	
	<script type="text/javascript" th:src="@{/js/admin/deleteSubjectForm.js}"></script>
</body>
</html>