<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Delete User Form</title>
<link type="text/css" rel="stylesheet" href="/css/header-basic.css">
<link type="text/css" rel="stylesheet" href="/css/footer-basic.css">
<link type="text/css" rel="stylesheet" href="/css/admin/removeTeacherFromSubject.css">
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
</head>
<body>
	<div th:replace="/fragments/header::main-menu">Main Menu</div>
	
	<div id="main">
		<a th:href="@{/admin/teachers/goToIndex}">Go to Index page</a>
		<div id="tableContainer">
			<h1 class="title">Teachers</h1>
			<div id="controlsDiv">				
				<select id="searchCriteria">
					<option th:value="${firstName}">First Name</option>
					<option th:value="${lastName}">Last Name</option>
					<option th:value="${username}" selected>Username</option>
					<option th:value="${email}">Email</option>
				</select>
				<input type="text" id="searchText">
			</div>
			<table id="selectTeacherTable">
			    <thead>
			        <tr>
			            <th> First Name </th>
			            <th> Last Name </th>
			            <th> Username </th>
			            <th> Email </th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="t : ${teachers}">
			            <td><span th:text="${t.firstName}"></span></td>
			            <td><span th:text="${t.lastName}"></span></td>
			            <td><span th:text="${t.username}"></span></td>
			            <td><span th:text="${t.email}"></span></td>
			        </tr>
			    </tbody>
			</table>
				
			<h1 id="subjectTitle" class="title">Subjects</h1>	
			<div id="controlsDiv2">
				<input type="text" id="searchText2">
			</div>
			<table id="selectSubjectTable">
			    <thead>
			        <tr>
			            <th> Subject title </th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="s : ${subjects}">
			            <td><span th:text="${s.title}"></span></td>
			        </tr>
			    </tbody>
			</table>
		</div>
				
		<form th:object="${new_user}"
			th:action="@{/admin/teachers/removeFromSubject}" method="POST">
			<div id="titleContainer">
				<h1 id="formTitle">Remove Teacher<br>from Subject</h1>
				<span id="clear">Clear Form</span>
			</div>
			<div>
				<label for="firstName">First
					Name:</label>
				<div class="field">
					<input type="text" id="firstName"
						placeholder="First Name" th:field="*{firstName}" required readonly="readonly">
				</div>
			</div>
			<div>
				<label for="lastName">Last
					Name:</label>
				<div class="field">
					<input type="text" id="lastName"
						placeholder="Last Name" th:field="*{lastName}" required readonly="readonly">
				</div>
			</div>
			<div>
				<label for="username">Username:</label>
				<div class="field">
					<input type="text" id="username"
						placeholder="Username" th:field="*{username}" required readonly="readonly">
				</div>
			</div>
			<div>
				<label for="email">Email:</label>
				<div class="field">
					<input type="email" id="email"
						placeholder="Email" th:field="*{email}" required readonly="readonly">
				</div>
			</div>
			<div>
				<label for="formSubjectTitle">Subject title:</label>
				<div class="field">
					<input type="text" id="formSubjectTitle"
						placeholder="Subject title" th:field="*{password}" required readonly="readonly">
				</div>
			</div>				
			<div>
				<button type="submit">Remove Teacher<br>from Subject</button>					
			</div>
		</form>
	</div>
	
	<div th:replace="/fragments/footer::footer"></div>
	
	<script type="text/javascript" th:src="@{/js/admin/removeTeacherFromSubjectForm.js}"></script>
</body>
</html>