<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Delete User Form</title>
<link type="text/css" rel="stylesheet" href="/css/header-basic.css">
<link type="text/css" rel="stylesheet" href="/css/footer-basic.css">
<link type="text/css" rel="stylesheet"
	href="/css/admin/updateUserForm.css">
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>

</head>
<body>
	<div th:replace="/fragments/header::main-menu">Main Menu</div>

	<div id="main">
		<a th:href="@{/subjects/goToIndex}">Go to Index page</a>
		<div id="controlsDiv">			
			<input type="text" id="searchText">
		</div>
		<table id="updateSubjectTable">
			<thead>
				<tr>
					<th>Subject title</th>					
				</tr>
			</thead>
			<tbody>
				<tr th:each="s : ${subjects}">
					<td id="hiddenColumn"><span th:text="${s.id}"></span></td>
					<td><span th:text="${s.title}"></span></td>
				</tr>
			</tbody>
		</table>

		<form th:object="${new_subject}" th:action="@{/subjects/updateSubject}"
			method="POST" id="updateSubjectForm">
			<h1>
				Update Subject<span id="clear">Clear Form</span>
			</h1>	
			<input type="hidden" th:field="*{id}" id="subjectId">		
			<div>
				<label for="subjectTitle">Subject Title:</label>
				<div class="field">
					<input type="text" id="subjectTitle" placeholder="Subject Title"
						th:field="*{title}" required autofocus>
				</div>
			</div>			
			<div>
				<button type="submit">Update</button>
			</div>
		</form>
	</div>

	<div th:replace="/fragments/footer::footer"></div>
	
	<script type="text/javascript" th:src="@{/js/admin/updateSubjectForm.js}"></script>
</body>
</html>