<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Delete User Form</title>
<link type="text/css" rel="stylesheet" href="/css/header-basic.css">
<link type="text/css" rel="stylesheet" href="/css/footer-basic.css">
<link type="text/css" rel="stylesheet"
	href="/css/admin/updateUserForm.css">
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>

</head>
<body>
	<div th:replace="/fragments/header::main-menu">Main Menu</div>

	<div id="main">
		<a th:href="@{/users/goToIndex}">Go to Index page</a>
		<div id="controlsDiv">
			<select id="searchUserCategory">
				<option th:value="0" selected>All</option>
				<option th:value="1">Admin</option>
				<option th:value="2">Teacher</option>
				<option th:value="3">Student</option>
			</select> <select id="searchCriteria">
				<option th:value="${firstName}">First Name</option>
				<option th:value="${lastName}">Last Name</option>
				<option th:value="${username}" selected>Username</option>
				<option th:value="${email}">Email</option>
			</select> <input type="text" id="searchText">
		</div>
		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${users}">
					<td><span th:text="${u.firstName}"></span></td>
					<td><span th:text="${u.lastName}"></span></td>
					<td><span th:text="${u.username}"></span></td>
					<td><span th:text="${u.email}"></span></td>
				</tr>
			</tbody>
		</table>
		<p id="hidden" th:text="${user.username}"></p>

		<form th:object="${new_user}" th:action="@{/users/updateUser}"
			method="POST">
			<h1>
				Update User<span id="clear">Clear Form</span>
			</h1>
			<div>
				<label for="firstName">First Name:</label>
				<div class="field">
					<input type="text" id="firstName" placeholder="First Name"
						th:field="*{firstName}" required>
				</div>
			</div>
			<div>
				<label for="lastName">Last Name:</label>
				<div class="field">
					<input type="text" id="lastName" placeholder="Last Name"
						th:field="*{lastName}" required>
				</div>
			</div>
			<div>
				<label for="username">Username:</label>
				<div class="field">
					<input type="text" id="username" placeholder="Username"
						th:field="*{username}" required readonly="readonly">
				</div>
			</div>
			<div>
				<label for="email">Email:</label>
				<div class="field">
					<input type="email" id="email" placeholder="Email"
						th:field="*{email}" required readonly="readonly">
				</div>
			</div>
			<div>
				<label for="password">Password:</label>
				<div class="field">
					<input type="password" id="password" placeholder="Password"
						th:field="*{password}" required>
				</div>
			</div>
			<div>
				<button type="submit">Update</button>
			</div>
		</form>
	</div>

	<div th:replace="/fragments/footer::footer"></div>
	
	<script type="text/javascript" th:src="@{/js/admin/updateUserForm.js}"></script>
</body>
</html>