<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="header" th:fragment="main-menu">
		<img th:attr="src=@{/img/header.jpeg},title=logo,alt=logo">
		
		<h1>Student Service</h1>
		
		<div id="userData">
			<p th:text="${user.userCategory.description}"></p> 
			<p id="name" th:text="${user.firstName} + ' ' + ${user.lastName}"></p>		
			<a id="logout" href="/index.html">Logout</a>	
		</div>				
	</div>	
</body>
</html>