#header, #footer {
	background: #44A08D;  /* fallback for old browsers */
	>background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #e8d6b0;
}

#main {
	margin: 100px auto;	
	text-align: center;
}

h1 {
	display: inline-block;
	text-align: center;
}

form {
	border: 2px solid #44A08D;
	display: inline-block;
	width: 315px;
	text-align: left;
	margin: 0 auto;
	padding: 15px;
	background: #44A08D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#addSubjectForm {
	width: 370px;
}

form input {
	margin-bottom: 15px;
	width: 300px;
	height: 30px;
	font-size: 1.1em;
	color: #44A08D;
}

form #username, form #email {
	margin-bottom: 5px;
}

form input:focus {
	border: 2px solid #6ddced;
	border-radius: 5px;
}

form select {
	margin-bottom: 15px;
	width: 160px;
	height: 40px;
	font-size: 1.25em;
}

form label {
	color: #e8d6b0;
	font-size: 1.1em;
}

form h1 {
	padding: 0;
	margin: 0 0 20px 0;
	color: #e8d6b0;
	text-align: center;
}

form button {
	width: 160px;
	height: 40px;
	font-size: 1.1em;
}

form button:hover {
	background-color: #44A08D;
	color: #e8d6b0;
	border: 2px solid #6ddced;
	border-radius: 5px;
}

form span {
	display: block;
	color: red;
	font-size: 0.85em;
	font-weight: bold;
	margin-bottom: 10px;
}

form #clear {
	color: #44A08D;
	font-size: 0.5em;
	font-weight: normal;
	background-color: #e8f0f2;
	border-radius: 3px;
	border: 2px solid rgba(0, 0, 0, 0);
	padding: 0.2em 0.4em;
	text-decoration: none;
	display: inline-block;
	width: 70px;
	text-align: center;	
	margin-left: 60px;
}

form #clear:hover {
	background-color: #44A08D;
	color: #e8d6b0;
	border: 2px solid #6ddced;
	border-radius: 3px;
}

#main table {
	margin: 0 auto;
	background: #44A08D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #e8d6b0;
	padding: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

td {
	margin-right: 15px;
}

td:first-child {
	padding-bottom: 20px;
	padding-right: 5px;
}

td[rowspan="2"] {
	padding-bottom: 0;
}

#problem1, #problem2 {
	padding-bottom: 0;
}

#problem1 a {
	margin: 0;
}

td a {
	background-color: #e8f0f2;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0);
	text-transform: uppercase;
	padding: 0.7em 1.2em;
	text-decoration: none;
	color: #44A08D;
	display: block;
	width: 120px;
	text-align: center;
	transition: all 0.25 linear;
	-webkit-transition: all 0.25 linear;
	-moz-transition: all 0.25 linear;
	margin: 0 5px 20px auto;
}

tr:first-child {
	padding-right: 10px;
}

tr:first-child td:first-child {
	text-align: left;
}

tr:first-child td:last-child a, tr:nth-child(2) td:last-child a {
	margin-right: 0;
	margin-left: 0;
}

tr:nth-child(4) td a {
	margin-bottom: 8px;
}

tr:nth-child(5) td a {
	margin-bottom: 0;
}

td:hover a {
	background-color: #44A08D;
	color: #e8d6b0;
	border: 2px solid #6ddced;
}

#index {
	background-color: #e8f0f2;
	border-radius: 5px;
	border: 2px solid gray;
	text-transform: uppercase;
	padding: 0.7em 1.2em;
	text-decoration: none;
	color: #44A08D;
	display: block;
	width: 120px;
	text-align: center;
	transition: all 0.25 linear;
	-webkit-transition: all 0.25 linear;
	-moz-transition: all 0.25 linear;
	margin: 0 auto 25px auto;
}

#index:hover {
	background-color: #44A08D;
	color: #e8d6b0;
	border: 2px solid #6ddced;
}



