#header, #footer {
	background: #44A08D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #e8d6b0;
}

#header {
	margin-bottom: 100px;
}

#footer {
	margin-top: 100px;
}

#main {
	margin: 0 auto 100px auto;
	max-height: 800px;
	overflow: hidden;
}

h1 {
	display: inline-block;
	text-align: center;
}

#controlsDiv {
	margin-bottom: 10px;
	margin-left: 250px;
}

#searchUserCategory, #searchCriteria, #searchText {
	display: inline-block;
}

form {
	border: 2px solid #44A08D;
	display: inline-block;
	float: left;
	width: 315px;
	text-align: left;
	margin: 0 auto;
	padding: 15px;
	background: #44A08D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#updateSubjectForm {
	width: 370px;
}

form input {
	margin-bottom: 15px;
	width: 300px;
	height: 30px;
	font-size: 1.1em;
	color: #44A08D;
}

form input:focus {
	border: 2px solid #6ddced;
	border-radius: 5px;
}

form select {
	margin-bottom: 15px;
	width: 160px;
	height: 40px;
	font-size: 1.25em;
}

form label {
	color: #e8d6b0;
	font-size: 1.1em;
}

form h1 {
	padding: 0;
	margin: 0 0 20px 0;
	color: #e8d6b0;
	text-align: center;
}

form button {
	width: 160px;
	height: 40px;
	font-size: 1.1em;
}

form button:hover {
	background-color: #44A08D;
	color: #e8d6b0;
	border: 2px solid #6ddced;
	border-radius: 5px;
}

form #clear {
	color: #44A08D;
	font-size: 0.5em;
	font-weight: normal;
	background-color: #e8f0f2;
	border-radius: 3px;
	border: 2px solid rgba(0, 0, 0, 0);
	padding: 0.15em 0.4em;
	text-decoration: none;
	display: inline-block;
	width: 45px;
	text-align: center;	
	margin-left: 20px;	
}

form #clear:hover {
	background-color: #44A08D;
	color: #e8d6b0;
	border: 2px solid #6ddced;
	border-radius: 3px;
}

#main table {
	float: left;
	margin: 0 100px 0 250px;
	border: 3px solid #44A08D;
	max-height: 300px;
	overflow: auto;	
	padding: 0;
}

#updateSubjectTable {
	min-width: 250px;	
}

#hiddenColumn {
	display: none;
}

table td {
	padding: 3px 15px;
	text-align: center;
}

table th {
	padding: 0 8px;
}

table tr:nth-of-type(odd) {
	background-color: #e8f0f2;
}

a {
	background-color: #e8f0f2;
	border-radius: 5px;
	border: 2px solid gray;
	text-transform: uppercase;
	padding: 0.7em 1.2em;
	text-decoration: none;
	color: #44A08D;
	display: block;
	width: 120px;
	text-align: center;
	transition: all 0.25 linear;
	-webkit-transition: all 0.25 linear;
	-moz-transition: all 0.25 linear;
	margin-bottom: 25px;
	margin-left: 250px;
}

a:hover {
	background-color: #44A08D;
	color: #e8d6b0;
	border: 2px solid #6ddced;
}

#hidden {
	display: none;
	margin: 0;
	border: none;
	padding: 0;
}


























