body {	
	padding: 0;
	margin: 0 15px;
	font-family: 'Roboto', sans-serif;
}

#header {	
	margin: 0;
	padding: 0;	
	text-align: center;
	z-index: 1;
	position: relative;
}

#header img {
	display: block;
	float: left;
	max-width: 200px;
	height: 130px;
}

#userData {
	float: right;
	display: inline-block;
	margin-right: 15px;
	height: 170px;
	box-sizing: border-box;
	padding-top: 30px;
}

#userData p {
	text-transform: capitalize;
	padding: 0;
	margin: 0;
	line-height: 1.3em;
	font-size: 1.3em;
}

#header h1 {
	display: inline-block;
	line-height: 130px;
	margin: 0;
	padding: 0;
}

#logout {
	background-color: #e8f0f2;
	border-radius: 5px;
	border: 2px solid gray;
	text-transform: uppercase;
	padding: 0.5em 0.95em;
	text-decoration: none;
	color: #44A08D;
	display: block;
	width: 100px;
	text-align: center;
	transition: all 0.25 linear;
	-webkit-transition: all 0.25 linear;
	-moz-transition: all 0.25 linear;
	margin-left: 0;
	margin-bottom: 5px;
}

#logout:hover {
	background-color: #44A08D;
	color: #e8d6b0;
	border: 2px solid #6ddced;
}






























