body {
	background-color: #eee;
}

.wrapper {
	margin: 80px;
}

.form-signin {
	max-width: 360px;
	margin: 0 auto;
	background-color: #fff;
	padding: 15px 40px 50px;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
}

.form-signin .form-signin-heading {
	margin-bottom: 30px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
	margin-bottom: 20px;
}

.form-signin .form-control {
	padding: 10px;
}

.errMsg {
	color: red;
	margin-bottom: 10px;
}

















