<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Student service Login Form</title>
</head>
<body>
	<div class="wrapper">
		<form class="form-signin" action="#" th:action="@{/student-service/loginVerification}"
			th:object="${user}" method="POST">
			<h2 class="form-signin-heading text-center">Login Form</h2>
			<span th:text="${errMsg}" style="color: red; display: block; margin-bottom: 10px"></span>
			<input type="text" class="form-control" th:field="*{username}"
				placeholder="Username/Email" th:value="${wrongUser}" required
				autofocus> 
				<input type="password" class="form-control"
				th:field="*{password}" placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block">Login</button>
		</form>
	</div>
</body>
</html>




































